* {
    margin: 0;
    padding: 0;
}

#main-container {
    padding: 20px;
    border: 2px solid;
    height: 40vh;
    width: 60vw;
    margin: 70px auto;
    font-size: 1rem;
}

h1 {
    color: #dc143c;
    font-weight: bolder;
}

.container-2 {
    height: 300px;
    width: 300px;
    background-color: skyblue;
    margin: 0 auto;
    border: 1px dashed;
}

.inner-div {
    height: 100px;
    width: 100px;
    background-color: coral;
    margin: 20px auto;
    border: 2px dotted;
}

h2 {
    color: hwb(300 0% 50%);
    font-weight: 800;
    text-transform: capitalize;
    line-height: 2rem;
    font-family: sans-serif;
}

h3 {
    color: rgb(255, 165, 0);
    font-weight: bolder;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    color: skyblue;
    font-weight: 1200;
    font-style: oblique;
}