@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 214, 214);
}

#header {
    text-align: center;
    font-size: 2rem;
    background-color: white;
    box-shadow: 1rem 1rem 1rem rgb(203, 201, 201);
    padding: 20px 10px;
}

#header>*>* {
    margin-right: 7rem;
}

.logo>p {
    font-family: "Coiny", system-ui;
    font-size: 3.4rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.logo>p:hover {
    color: crimson;
    transition: all 0.2s linear;
}

.logo {
    display: inline-block;
}

#nav-links {
    display: inline-block;
}

#nav-links>a {
    text-decoration: none;
    padding: 1rem 2rem;
    color: black;
    transition: all 0.5s ease;
}

#nav-links>a:hover {
    transition: all 0.5s ease;
    color: rgb(45, 155, 199);
    text-decoration: underline;
}

#hero {
    width: 100%;
    height: 60vh;
    background-image: url(https://a-static.besthdwallpaper.com/one-piece-monkey-d-luffy-black-and-white-wallpaper-1920x1200-117062_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.first-para {
    color: white;
    position: absolute;
    font-size: 2rem;
    font-style: italic;
    bottom: 45%;
    left: 3%;
}

.second-para {
    color: white;
    position: absolute;
    font-size: 2rem;
    font-style: italic;
    bottom: 30%;
    right: 30%;
}

.main {
    width: 70vw;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.char-name {
    font-weight: 600;
}

.text-area {
    padding: 1.2rem 0.6rem;
}

.about-para {
    font-size: 1.2rem;
    padding: 0 1rem;
}

.char-about {
    font-weight: 600;
    font-size: 1.3rem;
}

.name-para {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.card {
    cursor: pointer;
    width: 48%;
    border: 1px solid;
    display: inline-block;
    vertical-align: top;
    margin: 0.3rem;
}


.img {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url(https://preview.redd.it/gojo-over-the-years-v0-u60l8pn2o17b1.jpg?width=640&crop=smart&auto=webp&s=a7128d1c28e1415cb4b0bcc43debcbafab51349a);
}

.img2 {
    background-image: url(https://pbs.twimg.com/media/ENxnfZQXYAQ5wE5.jpg);
}

.img3 {
    background-image: url(https://i.pinimg.com/474x/f5/44/a9/f544a96ce8d5d0c6e345ee982133a2c0.jpg);
}

.img4 {
    background-image: url(https://64.media.tumblr.com/1e0beb1e88acbd94d50564ad32dbebc6/519e4cf55b8b72b6-9c/s640x960/de9f55ec3ddccb9bdc6fde330cc77963c14a4305.jpg);
}

.button-container {
    padding: 2.3rem;
    text-align: center;
}

.button-container>a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: white;
    font-weight: 500;
    transition: all 0.3s linear;
}
.button-container > a:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear;
}
.main-content {
    width: calc(100% - 6rem);
    margin: 3rem auto;

    height: auto;
    overflow: visible;
}

.main-content::after {
    content: "";
    display: table;
    clear: both;
}


.content-area {
    float: left;
    width: 70%;
    min-height: 250vh;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/923/35/743/vertical-anime-anime-girls-airplane-fence-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}

.side-bar {
    float: right;
    width: 28%;
    text-align: center;
    color: rgb(13, 225, 165);
    font-size: 2rem;
    position: sticky;
    top: 1rem;
    height: 40vh;
    overflow: visible;
    box-sizing: border-box;
}

.categories-div {
    height: 33%;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.categories-div::before {
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;

    z-index: -1;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/crunchyroll-solo-leveling-67f7ee68107a5.jpg?crop=1xw:1xh;0.0657xw,0.0627xh&resize=1200:*);
    background-size: cover;
}

.recent-div {
    height: 33%;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.recent-div::before {
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;

    z-index: -1;
    background-image: url(https://ichef.bbci.co.uk/ace/standard/976/cpsprodpb/F382/production/_123883326_852a3a31-69d7-4849-81c7-8087bf630251.jpg);
    background-size: cover;
}

.recent-div:hover::before {
    filter: blur(0.2rem);
}

.about-div:hover::before {
    filter: blur(0.2rem);
}

.categories-div:hover::before {
    filter: blur(0.2rem);
}

.about-div {
    height: 33%;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.about-div::before {
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(https://nerdizmo.ig.com.br/wp-content/uploads/2024/05/Lista-de-animes-recomendacoes-1-semestre-de-2024.jpg);
    background-size: cover;
}


/** single page post styling start here  **/

.singlePagePost{
    width: 60vw;
    margin: 4rem auto;
    text-align: center;
}
.singlePagePost > .titile{
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}
.singlePagePost > blockquote{
    font-size: 1.9rem;
    text-align: start;
    font-style: italic;
}
.singlePagePost > img{
    width: 100%;
    margin-bottom: 2rem;
}
.button-container-singlePost{
    display: inline-block;
}
.button-container-singlePost > button{
    padding: 0.5rem 2.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s linear;
    border: none;
    margin-right: 2rem;
}
.button-container-singlePost > button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear;
}
.table-section{
    margin: 0 auto;
    width: 60vw;
    text-align: center;
    margin-bottom: 6rem;
}
table > caption{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
}
.table-section > table{
    width: 100%;
    border: 1px solid ;
    font-size: 1.2rem;
    border-collapse: collapse;

}
table >  thead > tr > th{
    font-size: 1.6rem;
}
th, td {
    border: 1px solid;
    padding: 0.5rem;
   
}
.Exceptional-td{
    font-style: italic;
    font-weight: 500;
}
table tr:nth-child(even){
    background-color: rgba(135, 207, 235, 0.69);
}

.form-container{
    padding: 4rem;
    width: 30vw;
    border: 1px solid;
    margin: 3rem auto;
    background-color: rgb(203, 212, 212);
}
.form-container > div{

    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.nameInput > * {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.emailInput > * {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.form-container > div > label{
    margin-bottom: 0.3rem;
}
.form-container > div > input{
    padding: 0.3rem 0.2rem;
    border: 2px solid white;
    font-size: 1.2rem;
} 

input:focus{
    outline: 2px solid green;
}
textarea{
    width: 100%;
    height: 4rem;
    resize: none;
    font-size: 1rem;
}
textarea:focus{
    outline: 2px solid green;
    
}

.radioInput > input:focus{
    outline: none;
}
.checkBoxInput > input:focus{
    outline: none;
}

.checkBoxInput > input{
    height: 15px;
    width: 15px;
}
.selectGroup > select{
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
}
.form-buttonContainer > button{
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s linear;
    border: none;
    
}
.form-buttonContainer{
    text-align: center;
    margin-top: 2rem;
    

}

.form-buttonContainer > button:hover{
    background-color: black;
    color: white;
    transition: all 0.2s linear;
}
.backtoTheTop{
    text-align: center;
    margin-bottom: 4rem;
}
.backtoTheTop > a{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
    text-decoration: none;
    color: black;
    padding: 0.5rem 2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.2s linear;
}
.backtoTheTop > a:hover{
    background-color: black;
    color: white;
    transition: all 0.2s linear;
}

.footer{
    width: 100%;
    height: 10vh;
    background-color: rgba(22, 21, 21, 0.844);
    color: white;
    font-size: 1.1rem;
    padding: 1.5rem 3rem;
    text-align: center;

}
.footer > nav > a {
    color: white;
}